<footer class="footer">
    <nav class="nav-footer">
        <div class="contenedorfooter">
            <div>
                <div class="iconofooter">
                    <i class="fas fa-credit-card" id="icono"></i>
                </div>
                <h4 class="titulosseleccion">Pagá con tarjeta o en efectivo</h4>
                <p class="parrafo"> Capsule Corp Cash, tenés cuotas sin
                    interés con tarjeta o efectivo en puntos de
                    de pago. ¡Y siempre es seguro!</p>
                </div> <br>
                <div>
                    <div class="iconofooter">
                        <i class="fas fa-gift" id="icono"></i>
                    </div>
                    <h4 class="titulosseleccion">Envío gratis desde $ 2.500</h4>
                    <p class="parrafo">por estar registrad@ en Capsule Corp
                        tenés envíos gratis en miles </p>
                        <p> de productos. Es
                            beneficio de Corpuntos No te gusta? ¡Devolvelo! En Capsule Corp</p>
                            
                        </div> <br>
                        <div>
                            <div class="iconofooter">
                                <i class="fas fa-user-shield" id="icono"></i>
                            </div>
                            <h4 class="titulosseleccion">Seguridad, de principio a fin </h4>
                            <p class="parrafo">no hay nada que no puedas hacer, porque estás
                                siempre protegid@.</p>
                            </div> 
                            <img src="/img/cat.gif" alt="cat" class="cat"><br>
     
        </div>
        <div>
            <h3>
Copyright © 1999-2020 Capsule Corp S.R.L.
</h3>
</div>
    </nav>
</footer>