<header>

    <div class="logo">
        <div class="hamburguesa">
            <i class="fas fa-bars" id="burguerDiv" style="display: block;"></i>
        </div>
        <div class="imgLogo">
            <a href="/"><img src="/img/logo3.png" alt="" class="logoimg"></a>
        </div>
        <div class="busqueda">
            <form action="/products/search" method="GET">
            <input type="search" name="busqueda" placeholder="Buscar" class="buscar"></form>
            <i class="fas fa-search"></i>
        </div>
    </div>

    <nav class="main-navbar">
        <% if (locals.isLogged && !locals.admin) { %>
            <ul class="left-navbar">
                <li><a href="/products">Productos</a></li>
                <li><a href="/brand">Marcas</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/shopping/cart">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
                <li><a href="/users/logout">Cerrar sesi칩n <i class="far fa-address-card"></i></a></li>
                <li><img src="/img/users/<%= locals.userLogged.avatar %>"></li>
                <li>
                    <a href="/users/profile">
                        <%= locals.userLogged.first_name %>
                    </a>
                </li>
            </ul>
            <% } else if (locals.isLogged && locals.admin) { %>
                <ul class="left-navbar">
                    <li><a href="/products">Productos</a></li>
                    <li><a href="/brand">Marcas</a></li>
                    <li><a href="/color">Colores</a></li>
                    <li><a href="/category">Categorias</a></li>

                </ul>
                <ul class="right-navbar">
                    <li><a href="/users/logout">Cerrar sesi칩n <i class="far fa-address-card"></i></a></li>
                    <li><img src="/img/users/<%= locals.userLogged.avatar %>"></li>
                    <li>
                        <a href="/users/profile">
                            <%= locals.userLogged.first_name %>
                        </a>
                    </li>
                </ul>
                <% } else { %>
                    <ul class="left-navbar">
                        <li><a href="/products">Productos</a></li>
                        <li><a href="/brand">Marcas</a></li>
                        <li><a href="/ayuda">Ayuda</a></li>
                    </ul>
                    <ul class="right-navbar">
                        <li><a href="/users/register">Cre치 tu cuenta <i class="far fa-address-card"></i></a></li>
                        <li><a href="/users/login">Ingres치 <i class="fas fa-sign-in-alt"></i></a></li>
                    </ul>

                    <% } %>
    </nav>
    <script src="/js/burger.js"></script>
</header>