
        <div class="redessociales">
            ENLACES A REDES SOCIALES
            <div class="sociales">
                <div><a href="https://www.facebook.com"><i class="fab fa-facebook-square" id="icono"></i></a></div>
                <div><a href="https://www.instagram.com"><i class="fab fa-instagram" id="icono"></i></a></div>
                <div><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter" id="icono"></i></a></div>
            </div>
        </div>