<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,300;0,900;1,700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney&display=swap" rel="stylesheet"> 
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <title>Capsule Corp</title>
</head>
<body>
    <div class="loader"></div>
    <div class="promociones">
        <h2>PROMOCIONES</h2>
    </div>
    <img src="/img/mario.gif" alt="" class="mario">
    <header>
        <div class="contenedorheader">
            <div class="logo">
                <div class="hamburguesa">
                <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
                </div>
                <a href="/"><img src="/img/logo2.png" alt="" class="logoimg"></a>
                <div class="busqueda">
                    <input type="text" name="busqueda" placeholder="Buscar" class="buscar">
                    <i class="fas fa-search"></i>
                </div>
                <div>
                <a href="/carrito"><i class="fas fa-cart-plus"></i></a> 
                </div>
            </div>
            <div class="marcasbuscar">
                <select name="marcas" id="" class="marcas">
                    <option value="intel">intel</option>
                    <option value="asus">asus</option>
             </select>    
            </div>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/productDetail">Producto</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/creatucuenta">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/miscompras">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="banner">
        <img src="./img/bannernuevo.jpeg" alt="" class="bannerimg"> </div>

    <main>
        <div>
            <div>
                <img src="/img/joystick.jpg" alt="" width="70px">
            </div>
            <div>
                <h3>Nombre del producto</h3>
            </div>
            <div>
                <h3>Envio gratis</h3>
            </div>
            <div>
                <div>
                    <select name="cantidad" id="">
                        <option value="1">1u</option>
                        <option value="2">2u</option>
                        <option value="3">3u</option>
                        <option value="4">4u</option>
                        <option value="5">5u</option>
                        <option value="6">6u</option>
                        <option value="7">7u</option>
                        <option value="8">8u</option>
                        <option value="9">9u</option>
                        <option value="10">10u</option>
                    </select>
                </div>
                <div>
                    <h3>PRECIO</h3>
                </div>
    
            </div>
            <div>
                <ul>
                    <li><a href="#">Eliminar</a></li>
                    <li><a href="#">Mas productos del vendedor</a></li>
                    <li><a href="#">Comprar ahora</a></li>
                    <li><a href="#">Guardar para despues</a></li>
                </ul>
            </div>
    
        </div>
        
        <div>
           <div><h4>DOMICILIO</h4></div> 
           <div><h4>Gratis</h4></div> 
        </div>
        <div><h3>Total con envio</h3></div>
        <div><h3>SUMATOTAL</h3></div>
        <BUtton>COMPRAR AHORA</BUtton>

        <div>
            <h3>Pensado para tu carrito de compras</h3>
            <div>
                carrusel
            </div>
        </div>
        <div>
            <h3>Aprovecha el envio gratis de todo tu carrito 
                y segui sumando productos </h3>
            <div>
                carrusel
            </div>
        </div>
        <div>
            <h3>Productos que te interesaron</h3>
            <div>
                carrusel
            </div>
        </div>
    </main>

    <div class="redessociales">
        ENLACES A REDES SOCIALES
        <div class="sociales">
            <div><a href="https://www.facebook.com"><i class="fab fa-facebook-square" id="icono"></i></a></div>
            <div><a href="https://www.instagram.com"><i class="fab fa-instagram" id="icono"></i></a></div>
            <div><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter" id="icono"></i></a></div>
        </div>
    </div>



<footer class="footer">
    <nav class="nav-footer">
        <div class="contenedorfooter">
            <div>
                <div class="iconofooter">
                    <i class="fas fa-credit-card" id="icono"></i>
                </div>
                <h4 class="titulosseleccion">Pagá con tarjeta o en efectivo</h4>
                <p class="parrafo"> Capsule Corp Cash, tenés cuotas sin
                    interés con tarjeta o efectivo en puntos de
                    de pago. ¡Y siempre es seguro!</p>
                </div> <br>
                <div>
                    <div class="iconofooter">
                        <i class="fas fa-gift" id="icono"></i>
                    </div>
                    <h4 class="titulosseleccion">Envío gratis desde $ 2.500</h4>
                    <p class="parrafo">por estar registrad@ en Capsule Corp
                        tenés envíos gratis en miles </p>
                        <p> de productos. Es
                            beneficio de Corpuntos No te gusta? ¡Devolvelo! En Capsule Corp</p>
                            
                        </div> <br>
                        <div>
                            <div class="iconofooter">
                                <i class="fas fa-user-shield" id="icono"></i>
                            </div>
                            <h4 class="titulosseleccion">Seguridad, de principio a fin </h4>
                            <p class="parrafo">no hay nada que no puedas hacer, porque estás
                                siempre protegid@.</p>
                            </div> 
                            <img src="/img/cat.gif" alt="cat" class="cat"><br>
   
                            <div>
                                <h3>
                    Copyright © 1999-2020 Capsule Corp S.R.L.
                </h3>
            </div>
        </div>
    </nav>

</footer>
    
    </body>
    
    </html>