<!DOCTYPE html>
<html lang="en">

<%- include ("./partials/head")%>

<body>
    <div class="loader"></div>
    <div class="promociones">
        <h2>PROMOCIONES</h2>
    </div>
    <img src="/img/mario.gif" alt="" class="mario">
    <header>
        <div class="contenedorheader">
            <div class="logo">
                <div class="hamburguesa">
                <a href="#" class="burger-menu"><i class="fas fa-bars"></i></a>
                </div>
                <a href="/"><img src="/img/logo2.png" alt="" class="logoimg"></a>
                <div class="busqueda">
                    <input type="text" name="busqueda" placeholder="Buscar" class="buscar">
                    <i class="fas fa-search"></i>
                </div>
                <div>
                <a href="/carrito"><i class="fas fa-cart-plus"></i></a> 
                </div>
            </div>
            <div class="marcasbuscar">
                <select name="marcas" id="" class="marcas">
                    <option value="intel">intel</option>
                    <option value="asus">asus</option>
             </select>    
            </div>
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="/ofertas">Ofertas</a></li>
                    <li><a href="/tiendasoficiales">Tiendas Oficiales</a></li>
                    <li><a href="/vender">Vender</a></li>
                    <li><a href="/productDetail">Producto</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">
                    <li><a href="/creatucuenta">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/miscompras">Mis compras <i class="fas fa-shopping-bag"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="banner">
        <img src="./img/bannernuevo.jpeg" alt="" class="bannerimg">
    </div>
    <main class="maincaja">
        <div class="contenedor">
            <div class="titulodeseccion">
                <h2>Basado en tu ultima visita</h2>
            </div>
            <div class="carrusel">
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/consolanintendo.jpg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 6.770</h3>
                                <h3 class="descuento">40% OFF</h3>
                            </div>
                        </div>
                    </div>
                    <h3 class="descripcion">Consola Nintendo</h3>
                </div>
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/img-macbook-pro-2019.jpg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 230.000</h3>
                                <h3 class="descuento">20% OFF</h3>
                            </div>
                        </div>
                    </div>
                    <h3 class="descripcion">Macbook Pro 2019</h3>
                </div>
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/joystick.jpg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 70.500</h3>
                                <h3 class="descuento">10% OFF</h3>
                            </div>
                        </div>
                    </div>
                    <h3 class="descripcion">Joystick jk10</h3>
                </div>
                <div class="contenedor-foto-texto">
                    <div>
                        <img src="/img/playstation5.jpeg" alt="" class="imagenes">
                    </div>
                    <div class="contenedor-texto-icono">
                        <div class="camionicon">
                            <i class="fas fa-truck" id="camionicono"></i>
                        </div>
                        <div class="contenedor-texto">
                            <div class="preciodescuento">
                                <h3 class="precio">$ 23.200</h3>
                                <h3 class="descuento">5% OFF</h3>
                            </div>
                        </div>
                    </div>
                    <h3 class="descripcion">Playstation 5</h3>
                </div>
            </div>
        </div>


        <div class="categoriaspopulares">
            <h3>Categorias populares</h3>
        <div class="categoria">
            <div class="subcategoria">
                <img src="/img/procesador.png" alt="" class="iconocat" >
                <div class="categoriatexto">Hardware Interno</div>
            </div>
            <div class="subcategoria">
                <img src="/img/tarjeta-ssd.png" alt="" class="iconocat" >
                <div class="categoriatexto">Memoria</div>
            </div>
            <div class="subcategoria">
                <img src="/img/wifi.png" alt=""class="iconocat"  >
                <div class="categoriatexto">Hardware Externo</div>
            </div>
            <div class="subcategoria">
                <img src="/img/zumbido.png" alt="" class="iconocat"  >
                <div class="categoriatexto">Gadget</div>
            </div>
            <div class="subcategoria">
                <img src="/img/consola-de-juego.png" alt="" class="iconocat"  >
                <div class="categoriatexto">Consolas y Videojuegos</div>
            </div>
        </div>
    </div>
    </main>

        <div class="redessociales">
            ENLACES A REDES SOCIALES
            <div class="sociales">
                <div><a href="https://www.facebook.com"><i class="fab fa-facebook-square" id="icono"></i></a></div>
                <div><a href="https://www.instagram.com"><i class="fab fa-instagram" id="icono"></i></a></div>
                <div><a href="https://twitter.com/?lang=es"><i class="fab fa-twitter" id="icono"></i></a></div>
            </div>
        </div>



    <footer class="footer">
        <nav class="nav-footer">
            <div class="contenedorfooter">
                <div>
                    <div class="iconofooter">
                        <i class="fas fa-credit-card" id="icono"></i>
                    </div>
                    <h4 class="titulosseleccion">Pagá con tarjeta o en efectivo</h4>
                    <p class="parrafo"> Capsule Corp Cash, tenés cuotas sin
                        interés con tarjeta o efectivo en puntos de
                        de pago. ¡Y siempre es seguro!</p>
                    </div> <br>
                    <div>
                        <div class="iconofooter">
                            <i class="fas fa-gift" id="icono"></i>
                        </div>
                        <h4 class="titulosseleccion">Envío gratis desde $ 2.500</h4>
                        <p class="parrafo">por estar registrad@ en Capsule Corp
                            tenés envíos gratis en miles </p>
                            <p> de productos. Es
                                beneficio de Corpuntos No te gusta? ¡Devolvelo! En Capsule Corp</p>
                                
                            </div> <br>
                            <div>
                                <div class="iconofooter">
                                    <i class="fas fa-user-shield" id="icono"></i>
                                </div>
                                <h4 class="titulosseleccion">Seguridad, de principio a fin </h4>
                                <p class="parrafo">no hay nada que no puedas hacer, porque estás
                                    siempre protegid@.</p>
                                </div> 
                                <img src="/img/cat.gif" alt="cat" class="cat"><br>
       
                                <div>
                                    <h3>
                        Copyright © 1999-2020 Capsule Corp S.R.L.
                    </h3>
                </div>
            </div>
        </nav>
    
    </footer>

</body>

</html>