<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<%- include("../partials/header") %>
    <body>
        
            <div >
                 
               <h2>¡Hola soy carrito !</h2>
                    
            </div>
    


        <%- include ("../partials/redessociales")%>
        <%- include ("../partials/footer")%>
    </body>
</html>