*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
}


body{
  background-image: url("../src/assets/img/fondo2.webp");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(4, 79, 133, 0.5);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
  }
  
  li a:hover:not(.active) {
    box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
    -webkit-box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
    -moz-box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
  }
  
  .active {
    background-color: #04AA6D;
  }

  .carrusel{
      display: flex;
      flex-direction: row;
      width: 80vw; 
      margin: auto;
      margin-top: 20%;
      flex-wrap: wrap;
      gap: 10px 10px;

  }

  .cards{
      margin: auto;
      width: 15vw;
      height: 15vh;
      display: block;
      background-color: rgba(4, 79, 133, 0.5);
      border-radius: 5px;
      padding: 5px;
      font-size: 18px;
      color: #fff;
      text-align: center;
      box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
      -webkit-box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
      -moz-box-shadow: 0px 0px 105px 5px rgba(45, 171, 255, 0.938);
  }


  .carrusel1{
    display: flex;
    width: 50vw; 
    margin: left;
    margin-top: 20px;
    gap: 10px 10px;
    align-items: flex-start;

}

.cards1{
  margin: auto;
  display: flex;
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
  font-size: 10px;
  color: #fff;
  text-align: left;
}