<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<%- include("../partials/header") %>
    <body>
        
            <div >
                 
               <h2>¡Hola soy carrito !</h2>
                    
            </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>0
        <%- include ("../partials/redessociales")%>
    </body>
</html>