* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*-----inicio body main header genericos -----*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

header,
main,
footer {
    width: 100vw;
}


/*-----FIN body main header genericos -----*/


/* inicio  HEADER ------*/

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-image: url("/img/unknown (2).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    color: #ffffff;
    padding: 10px 0 10px 0;
    border-bottom: solid 2px #0000;
}

.rlUser {
    position: relative;
    top: 0;
    left: 0;
    background-image: url("/img/unknown (2).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    color: #ffffff;
    padding: 15px 0 15px 0;
    border-bottom: solid 2px #0000;
}

header a {
    color: #000;
    font-size: 1em;
    text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

header a:hover {
    font-size: 1.6em;
    color: #0012FF
}

.hamburguesa {
    color: #000;
    font-size: 1em;
    text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.hamburguesa:hover {
    font-size: 1.6em;
    color: #0012FF
}

.logo {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    align-items: center;
    flex-direction: row;
    margin: auto;
    font-size: 1.5em;
}

.logoUser {
    display: block;
    margin: auto;
}

.imgLogo {
    display: flex;
    margin: auto;
}

.logoimg {
    display: none;
    width: 25%;
    border-radius: 50%;
    box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
    -webkit-box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
}

.logoimg:hover {
    width: 30%;
}

.logoImgUser {
    display: block;
    margin: auto;
    width: 8%;
    border-radius: 50%;
    box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
    -webkit-box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(45, 255, 196, 0.9);
}

.busqueda {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.buscar {
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    text-align: center;
}

.main-navbar {
    display: none;
}

.left-navbar {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.left-navbar li {
    border-radius: 3px;
    margin: 0 5px;
}

.right-navbar {
    display: flex;
    list-style: none;
    margin-left: 30px;
}

.right-navbar li {
    border-radius: 10px;
    margin: 0 10px;
}

.right-navbar img {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.hamburguesa {
    display: block;
    font-size: 1.8em;
}

.hamburguesa:hover {
    font-size: 2em;
}

.mainNavBar {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    font-size: 1.5em;
}


/* fin  HEADER ------*/


/*---- inicio Pantalla de espera ----*/

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    opacity: 1;
    background-image: url("/img/logo4.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
    background-color: black;
    /*clip-path: circle(150% at 100% 0);*/
    clip-path: inset(0 0 0 0);
    transition: clip-path 1s ease-in-out;
}

.subloader {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 72vh;
    font-size: 80px;
    animation: neon2 0.1s ease-in-out infinite alternate;
}

@keyframes neon2 {
    from {
        text-shadow: 0 0 15px #fff, 0 0 25px #fff, 0 0 35px #fff, 0 0 45px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}

.loader2 {
    clip-path: inset(0 0 0 100%);
}


/*---- fin Pantalla de espera ----*/


/*-------INICIO BARRA SEPARADORA -----*/

.sep {
    margin-top: 72px;
}

.sep2 {
    margin-top: 265px;
}


/*-------FIN BARRA SEPARADORA -----*/


/*----inicio  banner carrusel----*/


/* Slideshow container */

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    color: white;
    opacity: 0.1;
    font-weight: bold;
    font-size: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    color: #000;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/*----fin   banner carrusel----*/


/*-------INICIO FORMULARIO REGISTRO-----*/

.form-registro {
    margin: 30px auto;
    width: 50%;
    background: #e7e5e5;
    padding: 15px;
    border-radius: 10px;
    color: #000;
    text-align: left;
    padding-top: 15px;
    font-weight: 100;
    -webkit-box-shadow: 0px 0px 43px 2px rgba(37, 8, 255, 1);
    -moz-box-shadow: 0px 0px 43px 2px rgba(37, 8, 255, 1);
    box-shadow: 0px 0px 43px 2px rgba(37, 8, 255, 1);
}

.form-registro button {
    display: block;
    margin: auto;
    font-size: 1.6em;
    width: 41%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-shadow: inset 0px 1px 0px #528ecc;
    background-image: url("/img/unknown (1).png");
    background-position: 80px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 25px;
}

.form-registro button:hover {
    background: linear-gradient(#1a01ff, #00aeff);
}

.form-registro h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#emailLogin {
    margin-bottom: 50px;
}

.form-check-input {
    margin-bottom: 50px;
}

#emailPass {
    border: 0;
    outline: none;
    background-color: #e7e5e5;
    text-align: center;
    font-size: 24px;
}

.control {
    width: 100%;
    margin: center;
    background: rgb(250, 248, 248);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16;
    border: 1px solid #ac9292;
    font-size: 18px;
}

.form-registro p {
    margin: 10px;
    text-align: center;
    font-size: 1em;
}

.is-invalid {
    border: 2px solid black;
}

.text-danger {
    color: red;
}

.form-registro a:hover {
    text-decoration: underline;
}

.titleLogin {
    margin-top: 10px;
    text-align: center;
}


/*-------FIN FORMULARIO REGISTRO-----*/


/*----INICIO DE CATEGORIAS*/

.categoriaspopulares {
    display: flex;
    font-size: 22px;
    width: 100%;
    margin: auto;
}

.categoria {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 0;
}

.category {
    width: 90%;
    margin: auto;
    display: block;
}

.categoriatexto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    opacity: 0;
    color: #FFF;
    transition: all 450ms;
}

.categoriatexto:hover {
    opacity: 1;
    background-color: #ac9292;
    border-radius: 15px;
}

.subcategoria {
    flex: 28%;
    margin: 5%;
    text-align: center;
    font-size: 18px;
    border: solid 1px #292622;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    margin-bottom: 10px;
}


/*----FIN DE CATEGORIAS*/


/*----- INICIO DE PERFIL---*/

.profilUser {
    width: 30%;
    background: rgb(250, 246, 246);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 18px;
    text-align: left;
}

.profilUser h2 {
    margin-top: 10px;
    margin-left: 20px;
}

.circular {
    margin-bottom: 10px;
    margin-top: 40px;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}


/*----- FIN DE PERFIL---*/

.contenedor {
    width: 90vw;
    display: block;
    margin: auto;
}

.contenedor-texto {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #ebebeb;
}

.precio,
.descuento,
.descripcion {
    margin: 5px 0;
}

.precio {
    width: 40%;
    font-size: 26px;
}

.descuento {
    width: 60%;
    color: #5890f8;
    font-size: 26px;
}

.descripcion {
    font-size: 40px;
    font-weight: bolder;
    color: #5890f8;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 500ms;
}

.camionicon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

#camionicono {
    transition: transform 200ms;
}

#camionicono:hover {
    transform: rotate(-90deg);
}

.contenedor-texto-icono {
    position: relative;
}

.preciodescuento {
    display: flex;
    align-items: flex-end;
}

.contenedor-foto-texto {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
}

.titulodeseccion {
    width: 90vw;
    padding: 10px 0;
    font-size: 24px;
}

.imagenes {
    width: 100%;
    display: block;
    margin: auto;
}

.texto-icono {
    padding-left: 15px;
    border-top: solid 5px rgb(14, 14, 15);
    position: relative;
}

.preciodescuento {
    display: flex;
    align-items: baseline;
}


/* --- INICIO DE REDES SOCIALES ----*/

.redessociales {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bolder;
}

.sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
}


/* --- FIN DE REDES SOCIALES ----*/


/*------INICIO DE FOOTER-----*/

.contenedorfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90vw;
    text-align: center;
    margin: auto;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    width: 100vw;
}

.iconofooter {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

#icono {
    font-size: 35px;
    color: #03264C;
    transition: all 10ms;
}

#icono:hover {
    color: #5890f8;
    font-size: 40px;
}


/*------FIN DE FOOTER-----*/


/* las medidas mas usadas son 
0-480 smartphone
481-768 tablets
769-1279 laptos
1280- 째째째째 desktops,tv
*/


/* inicio media ----------- 480px  desde este ancho hacia arriba*/

@media (min-width: 480px) {
    .left-navbar,
    .right-navbar {
        display: flex;
        flex-direction: row;
        color: #0000;
        padding: 10px 10px;
    }
    .sep {
        margin-top: 72px;
    }
    .sep2 {
        margin-top: 265px;
    }
    .bannerCarrusel,
    .big,
    .points,
    .point {
        align-items: flex-start;
    }
    .left-navbar {
        align-items: flex-start;
    }
    .right-navbar {
        align-items: flex-end;
    }
}


/* fin media ----------- 480px  desde este ancho hacia arriba*/


/* inicio media ----------- 769px  desde este ancho hacia arriba*/

@media (min-width:769px) {
    .logoimg {
        display: block;
    }
    .sep {
        margin-top: 150px;
    }
    .carrusel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 90vw;
        z-index: 1;
    }
    .contenedor-foto-texto {
        width: 48.5%;
    }
    .imagenes {
        width: 100%;
    }
    .hamburguesa {
        display: none;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0 5px;
    }
    .contenedor-foto-texto {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .maincaja {
        margin: 0;
    }
    .formulario-registro {
        margin-top: 0px;
    }
}


/* fin media ----------- 769px  desde este ancho hacia arriba*/


/* inicio media ----------- 1280px desde este ancho hacia arriba*/

@media (min-width: 1280px) {
    .main-navbar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 10px;
    }
    .carrusel {
        display: flex;
        flex-wrap: nowrap;
        max-width: 85vw;
        margin: auto;
        z-index: 1;
    }
    .imagenes {
        width: 100%;
    }
    .precio {
        font-size: 22px;
        width: 45%;
    }
    .descuento {
        font-size: 20px;
        width: 65%;
    }
    .descripcion {
        font-size: 20px;
    }
    .camionicon {
        width: 60px;
        height: 60px;
        font-size: 25px;
        padding: 15px;
        text-align: center;
        top: -30px;
    }
    .contenedor-foto-texto {
        margin: 5px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: 1.3em;
    }
    .contenedorfooter {
        display: flex;
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
        padding: 0 20px
    }
    .banner {
        margin-top: 209.03px;
    }
    .opcionesfooter {
        width: 30%;
    }
    .hamburguesa {
        display: none;
    }
}


/* fin media ----------- desde 1280px*/