*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-registro{
    width:100vw;
    background: #E91E63;
    padding:50px ;
    margin: 2rem auto;
    border-radius: 4px;
    font-family: 'Gill Sans';
    color: rgb(255, 255, 255);
    text-align: center;
}
.form-registro h4{
    font-size: 22px;
    margin-bottom: 20px;

}
.control{
    width: 100%;
    background: rgb(250, 248, 248);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16;
   border:1px solid #ac9292;
   font-family: 'Gill Sans';
   font-size: 18px;
}
.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.form-registro a:hover{
    color: rgb(224, 235, 245);
    text-decoration: underline;
}
.boton{
    background-color: rgb(83, 69, 95);
    color: azure;
    padding: 10px 30px;

}

.logoheader{

    width:230px;
    height: 230px;
    border: solid 1px #E91E63;
    display: block;
    margin: auto;


}
.logoimg{
    width: 105%;
    height: 100%;
    border-radius: 50%;
  
}




/*body div{
    border: solid 1px black;
   
}*/

body{
    font-size: 24px;
    font-family: 'Tourney', cursive;
    font-weight: normal;

    width: 100vw;
 
}
header,main,footer{
width: 100%;
}

.enviar{
    font-family: 'Tourney', cursive;
    font-size: 50px;
    color: red;
}

.promociones{
   /*background-color: #5890f8;*/
   background-color: #F9B761;

    
}

header{
   /* background-color:#FCB0BE;*/

    background-image: url(https://th.bing.com/th/id/R.a4909a42ee0e58c2ce1f18640e5ff7d8?rik=XFCBrZjTYolMFw&riu=http%3a%2f%2fi.imgur.com%2fVan5g.gif&ehk=NbP6MKeW8TngH%2b3ohLRFE%2fF5ty1j5TI15avLKJdGpsc%3d&risl=&pid=ImgRaw&r=0);
    font-size: 20px;
    color: #ffff;
    padding-bottom: 10px;
    border-bottom: solid 2px #0000;
    background-repeat: no-repeat;
    background-size: cover


}

header a{
    color: #ffff;
}

.banner{
    display: flex;
    width: 100vw;

}
.bannerimg{
    width: 100%;
}

.imgproducto{
    width: 90vw;
}

.foto{
    display: block;
    margin: auto;
}
.cajadeproducto{
    width: 90vw;
    margin: auto;
    border: solid 1px red;
}

/*.producto-foto-icono-texto div{
    border: solid 1px green;
}*/

.producto-foto-icono-texto{
    margin-bottom: 20px;
}

.icono{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:solid 3px red;
    font-size: 22px;
    color: red;
    text-align: center;
    padding-top: 14px;
display: block;
position: absolute;
top:-30px;
right: 20px;


}

.texto-icono{
    padding-left: 15px;
    border-top: solid 5px blue;
    position: relative;
}

.preciodescuento{
    display: flex;
    align-items: baseline;
}

.precio{
    font-size: 1.8em;
    position: relative;
    width: 30%;
}
.descuento{
    font-size: 1.6em;
    color: darkorange;
    font-weight: bolder;
    position: relative;
    width: 70%;
}
.descripcion{
    font-size: 1.6em;
    font-weight: bolder;
    color: darkslategrey;
}


/*@media (min-width: 1000px){
    .cajadeproducto{
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
    }
    .producto-foto-icono-texto{
        width: 25%;
    }

    .imgproducto{
        width: 100%;
    }
    .precio,.descuento,.descripcion{
        font-size: 1em;
    }

   
}*/

.logoimg{
    width: 150px;
}

.logo{
display: flex;
 justify-content: space-between;
 width: 90vw;
 align-items: flex-end;
 flex-direction: row;
  margin: auto;
  font-size: 24px;
  padding-bottom: 15px;
}
.marcasbuscar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}
.marcas{
    width: 25%;
}
.busqueda{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end
}

.redessociales{
    width: 90%;
    margin:auto;
    text-align: center;
}
.sociales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
}

.hamburguesa{
    display:none ;
}


@media (max-width: 760px) {
    .main-navbar{
        display: none;
    }

    .hamburguesa{
        display: block;
    }
    
}