<!DOCTYPE html>
<html lang="en">


    <%- include ("../partials/head")%>
 
<main>
    <%- include ("../partials/navLoginRegister")%>
    <div>
        <div class="titleLoginRegister"><h1>¡Hola Ingresa los siguientes datos para logearte!</h1></div>
        
        <form action="/users/loginPass" method="POST" class="form-registro">
            <input type="email" value="<%= userToLogin.email %>" name="email" >
            <label><b>Contraseña</b></label>
            <input class="control" type="password" name = "password" id="contraseña" >
            <div class="col-md-6 my-2">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
                    </label>
                </div>
            </div>
             <button type="submit"> Registrar</button>
             <p><a target="_blank" href="">Olvidé mi contraseña</a></p>
             <p><a href="/users/register">¿Aún no tenes cuenta?</a></p></div>
             
        </form>
    </div>

</main>

</body>
</html>